.regions__list {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  color: black;
  margin-bottom: 3rem;
}

.regions__list a {
  padding: 0.6rem;
  border: 2.5px solid #bf538d;
  border-radius: 1rem;
}

.regions__list a:visited {
  color: #23394b;
}

.regions__header {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: normal;
  color: #23394b;
}
.region__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-top: 0rem;
  box-shadow: 0 0 10px #888888;
  width: 50rem;
}

.region__details-wine {
  overflow: auto;
  text-align: justify;
  height: 25rem;
}

.region__details-wine ul {
  overflow: auto;
  text-align: justify;
  border-left: 1px solid #b4b4b4;
  height: 25rem;
}

.wine__details:hover {
  box-shadow: 0 0 1px #888888;
}

.wine__details-header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.3rem;
}

.wine__details {
  padding: 2rem;
}

.region__details {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: #23394b;
  margin-right: 1rem;
  padding: 1rem;
}

.region__details h3 {
  font-size: 1.3rem;
}

.region__details p {
  padding-top: 1rem;
}

.region__img {
  padding: 1rem;
}
.region__img img {
  border: 1px solid;
  border-radius: 0.2rem;
}
